[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
couchdb = "*"
flask-sqlalchemy = "*"
flask-cors = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.7"
